@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@300;400;500;700;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  width: 100%;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15;
}

header {
  background-color: #F0EFE9;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
header .container .menu-bars {
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: solid #DAD9D3 1px;
}
@media (max-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: flex-end;
  }
}
header .container .menu .top-menu .contact-information {
  display: flex;
}
@media (max-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: none;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: 2rem;
  border-right: 1px solid #DAD9D3;
  padding-right: 2rem;
}
header .container .menu .top-menu .contact-information .content-box:last-child {
  border: none;
}
header .container .menu .top-menu .social-media-container {
  display: flex;
  gap: 1rem;
}
header .container .menu .top-menu .social-media-container i {
  color: #191919;
  font-size: 25px;
}
header .container .menu .top-menu .social-media-container i:hover {
  opacity: 0.75;
}
header .container .menu .top-menu img {
  width: 1.2rem;
  height: 1.2rem;
}
header .container .menu .main-menu {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .menu .main-menu nav a {
  font-size: 15px;
  color: #191919;
  text-decoration: none;
  margin-right: 29px;
  position: relative;
}
i header .container .menu .main-menu nav a:active::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 1rem;
  background-color: #191919;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  border-radius: 0.5rem;
}
header .container .menu .main-menu .login-button {
  background-color: #F9D783;
  width: 122px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #191919;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 16px;
}
header .container .menu .main-menu .login-button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.2s;
}
header .background-lines1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
header .header-container .about-box {
  height: 800px;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  header .header-container .about-box {
    justify-content: center;
    flex-direction: column;
  }
}
header .header-container .about-box .about-text {
  display: flex;
  height: 100%;
  padding-top: 5rem;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}
header .header-container .about-box .about-text h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 83px;
  line-height: 100px;
}
@media (max-width: 1200px) {
  header .header-container .about-box .about-text h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
header .header-container .about-box .about-text p {
  font-size: 20px;
  font-weight: normal;
}
header .header-container .about-box .about-text .about-buttons {
  display: flex;
  gap: 1rem;
}
header .header-container .about-box .about-text .about-buttons a {
  text-decoration: none;
  color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .header-container .about-box .about-text .about-buttons #about-button-consulting {
  background-color: #F9D783;
  width: 208px;
  height: 56px;
  border-radius: 40px;
}
header .header-container .about-box .about-text .about-buttons #about-button-consulting:hover {
  cursor: pointer;
  background-color: #191919;
  color: white;
  transition-duration: 0.2;
}
header .header-container .about-box .about-text .about-buttons #about-button-learnmore {
  background-color: transparent;
  width: 180px;
  height: 56px;
  border: #191919 1px solid;
  border-radius: 40px;
}
header .header-container .about-box .about-text .about-buttons #about-button-learnmore:hover {
  transition-duration: 0.2;
  cursor: pointer;
  background-color: #191919;
  color: white;
}
header .header-container .about-images {
  height: 100%;
  width: 70%;
}
@media (max-width: 1200px) {
  header .header-container .about-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
  }
}
header .header-container .about-images img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  header .header-container .about-images img {
    height: 100%;
    width: 50%;
  }
}

main .sponsors {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 4rem;
}
@media (max-width: 992px) {
  main .sponsors {
    display: none;
  }
}
main .features {
  border: 1px solid rgba(25, 25, 25, 0.2);
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 4rem;
  margin-bottom: 6rem;
}
@media (max-width: 992px) {
  main .features {
    gap: 2rem;
    flex-direction: column;
  }
}
main .features .features-title {
  width: 38%;
}
main .features .features-title span {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
main .features .features-title h2 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
}
@media (max-width: 992px) {
  main .features .features-title h2 {
    display: none;
  }
}
main .features .features-title .features-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  color: black;
  background-color: #F9D783;
  border-radius: 40px;
  height: 56px;
  width: 100%;
  margin-top: 2rem;
}
main .features .features-title .features-button:hover {
  transition-duration: 0.2;
  cursor: pointer;
  background-color: #191919;
  color: white;
}
main .features .features-descriptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 50%;
}
@media (max-width: 992px) {
  main .features .features-descriptions {
    width: 100%;
  }
}
main .features .features-descriptions div {
  display: grid;
  gap: 0.5rem;
}
main .features .features-descriptions div h3 {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 22px;
}
main .about-company {
  display: flex;
  justify-content: space-around;
}
main .about-company .about-company-image {
  position: relative;
}
@media (max-width: 992px) {
  main .about-company .about-company-image {
    display: none;
  }
}
main .about-company .about-company-image .founder-quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #BEEBFF;
  width: 358px;
  height: 170px;
  padding: 2rem;
  filter: drop-shadow(0px 18px 20px rgba(44, 44, 44, 0.15));
  z-index: 2;
  bottom: 50px;
  position: absolute;
  left: -50px;
}
main .about-company .about-company-image .founder-quote h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}
@media (max-width: 992px) {
  main .about-company .about-company-image .founder-quote {
    bottom: 200px;
    left: 0;
  }
}
main .about-company .about-company-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}
@media (max-width: 992px) {
  main .about-company .about-company-text {
    width: 100%;
  }
}
main .about-company .about-company-text span {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
main .about-company .about-company-text h2 {
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}
main .about-company .about-company-text p {
  font-family: "Inter", sans-serif;
  color: RGBA(25, 25, 25, 0.7);
  line-height: 32px;
}
main .about-company .about-company-text div {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 992px) {
  main .about-company .about-company-text div {
    margin-top: 0rem;
  }
}
main .about-company .about-company-text div .about-learnmore-button {
  width: 180px;
  height: 56px;
  border-radius: 40px;
  background: #191919;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
}
main .about-company .about-company-text div .about-introvideo-button {
  height: 56px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  gap: 1rem;
}
main .about-company .about-company-text div .about-introvideo-button i {
  font-size: 48px;
}
main .our-services-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0EFE9;
  height: 870px;
}
main .our-services-container div {
  display: flex;
  flex-direction: column;
}
main .our-services-container div span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #F94D1C;
}
main .our-services-container div h2 {
  font-size: 45px;
  width: 40%;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
}
main .our-services-container div .service-options {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  flex-direction: row;
  justify-content: space-between;
}
main .our-services-container div .service-options div {
  background-color: white;
  display: flex;
  align-items: center;
  height: 333px;
  width: 308px;
}
main .our-services-container div .service-options div div {
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}
main .our-services-container div .service-options div div::before {
  content: "";
  font-weight: 500;
  height: 1px;
  width: 2.5rem;
  background-color: #191919;
}
main .our-services-container div .service-options div div a {
  text-decoration: none;
  align-self: end;
}
main .our-services-container div .service-options div div a i {
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  background-color: #191919;
  border-radius: 50%;
  color: white;
}
main .our-services-container div .service-options div .servicebox-1:hover, main .our-services-container div .service-options div .servicebox-2:hover, main .our-services-container div .service-options div .servicebox-3:hover, main .our-services-container div .service-options div .servicebox-4:hover {
  background-color: #F9D783;
}
main .our-services-container div .service-options div .servicebox-1:hover i, main .our-services-container div .service-options div .servicebox-2:hover i, main .our-services-container div .service-options div .servicebox-3:hover i, main .our-services-container div .service-options div .servicebox-4:hover i {
  background-color: white;
  color: black;
}
main .our-services-container div .service-options div .servicebox-1:hover i:hover, main .our-services-container div .service-options div .servicebox-2:hover i:hover, main .our-services-container div .service-options div .servicebox-3:hover i:hover, main .our-services-container div .service-options div .servicebox-4:hover i:hover {
  box-shadow: 0 0 10px 2px black;
}
main .our-services-container div .browse-services-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}
main .our-services-container div .browse-services-link a {
  border-radius: 40px;
  border: 1px solid #191919;
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
}
main .our-services-container div .browse-services-link a:hover {
  background-color: #F9D783;
  color: white;
  transition-duration: 0.2s;
}
main .why-choose-us {
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 870px;
  width: 90%;
}
main .why-choose-us .why-choose-us-container {
  display: flex;
  height: 630px;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 3rem;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80%;
  width: 30%;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text span {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text h2 {
  color: black;
  font-family: "DM Sans", sans-serif;
  width: 62%;
  font-weight: bold;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .img-container {
  border-radius: 50%;
  border: 1px solid rgba(25, 25, 25, 0.1);
  padding: 2rem;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .text-container h3 {
  margin: 0;
  font-size: 22px;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .text-container p {
  color: rgba(25, 25, 25, 0.7);
  margin: 0;
}
main .why-choose-us .why-choose-us-container .why-choose-us-img {
  height: 80%;
  width: 60%;
}
main .why-choose-us .why-choose-us-container .why-choose-us-img img {
  height: 100%;
  width: 100%;
}/*# sourceMappingURL=home.css.map */