@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,200;0,9..40,300;0,9..40,400;0,9..40,500;0,9..40,600;0,9..40,700;0,9..40,800;0,9..40,900;0,9..40,1000;1,9..40,100;1,9..40,200;1,9..40,300;1,9..40,400;1,9..40,500;1,9..40,600;1,9..40,700;1,9..40,800;1,9..40,900;1,9..40,1000&family=Inter:wght@300;400;500;700;900&display=swap");
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  height: -moz-max-content;
  height: max-content;
  width: 100%;
  color: #191919;
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15;
}

header {
  background-color: #F0EFE9;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 1rem;
}
header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5rem;
}
header .container .menu-bars {
  font-size: 1.5rem;
}
@media (min-width: 992px) {
  header .container .menu-bars {
    display: none;
  }
}
header .container .menu {
  display: none;
  flex: 1;
}
@media (min-width: 992px) {
  header .container .menu {
    display: block;
  }
}
header .container .menu .top-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 1rem;
  border-bottom: solid #DAD9D3 1px;
}
@media (max-width: 1200px) {
  header .container .menu .top-menu {
    justify-content: flex-end;
  }
}
header .container .menu .top-menu .contact-information {
  display: flex;
}
@media (max-width: 1200px) {
  header .container .menu .top-menu .contact-information {
    display: none;
  }
}
header .container .menu .top-menu .contact-information .content-box {
  font-family: "Inter", sans-serif;
  font-weight: 300;
  font-size: 15;
  display: flex;
  gap: 0.5rem;
  align-items: center;
  margin-right: 2rem;
  border-right: 1px solid #DAD9D3;
  padding-right: 2rem;
}
header .container .menu .top-menu .contact-information .content-box:last-child {
  border: none;
}
header .container .menu .top-menu .social-media-container {
  display: flex;
  gap: 1rem;
}
header .container .menu .top-menu .social-media-container i {
  color: #191919;
  font-size: 25px;
}
header .container .menu .top-menu .social-media-container i:hover {
  opacity: 0.75;
}
header .container .menu .top-menu img {
  width: 1.2rem;
  height: 1.2rem;
}
header .container .menu .main-menu {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .menu .main-menu nav a {
  font-size: 15px;
  color: #191919;
  text-decoration: none;
  margin-right: 29px;
  position: relative;
}
i header .container .menu .main-menu nav a:focus::after, header .container .menu .main-menu nav a:hover::after {
  content: "";
  position: absolute;
  font-weight: 500;
  height: 2px;
  width: 1rem;
  background-color: #191919;
  left: 50%;
  transform: translate(-50%);
  bottom: 0;
  border-radius: 0.5rem;
}
header .container .menu .main-menu .login-button {
  background-color: #F9D783;
  width: 122px;
  height: 48px;
  border-radius: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #191919;
  gap: 0.5rem;
  font-weight: 600;
  font-size: 16px;
}
header .container .menu .main-menu .login-button:hover {
  background-color: black;
  color: white;
  transition-duration: 0.2s;
}
header .background-lines1 {
  position: absolute;
  left: 0;
  bottom: 0;
}
header .header-container .about-box {
  height: 800px;
  width: 100%;
  display: flex;
  flex: 1;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  header .header-container .about-box {
    justify-content: center;
    flex-direction: column;
  }
}
header .header-container .about-box .about-text {
  display: flex;
  height: 100%;
  padding-top: 5rem;
  flex-direction: column;
  width: 60%;
  gap: 2rem;
}
header .header-container .about-box .about-text h1 {
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
  font-size: 83px;
  line-height: 100px;
}
@media (max-width: 1200px) {
  header .header-container .about-box .about-text h1 {
    font-size: 50px;
    line-height: 50px;
  }
}
header .header-container .about-box .about-text p {
  font-size: 20px;
  font-weight: normal;
}
header .header-container .about-box .about-text .about-buttons {
  display: flex;
  gap: 1rem;
}
@media (max-width: 500px) {
  header .header-container .about-box .about-text .about-buttons {
    font-size: 10px;
  }
}
header .header-container .about-box .about-text .about-buttons a {
  text-decoration: none;
  color: #191919;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
header .header-container .about-box .about-text .about-buttons #about-button-consulting {
  background-color: #F9D783;
  width: 208px;
  height: 56px;
  border-radius: 40px;
}
header .header-container .about-box .about-text .about-buttons #about-button-consulting:hover {
  cursor: pointer;
  background-color: #191919;
  color: white;
  transition-duration: 0.2;
}
header .header-container .about-box .about-text .about-buttons #about-button-learnmore {
  background-color: transparent;
  width: 180px;
  height: 56px;
  border: #191919 1px solid;
  border-radius: 40px;
}
header .header-container .about-box .about-text .about-buttons #about-button-learnmore:hover {
  transition-duration: 0.2;
  cursor: pointer;
  background-color: #191919;
  color: white;
}
header .header-container .about-images {
  height: 100%;
  width: 70%;
}
@media (max-width: 1200px) {
  header .header-container .about-images {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60%;
    width: 100%;
  }
}
header .header-container .about-images img {
  height: 100%;
  width: 100%;
}
@media (max-width: 1200px) {
  header .header-container .about-images img {
    height: 100%;
    width: 50%;
  }
}
header .letsconnect {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 300px;
}
header .letsconnect .connect-links {
  display: flex;
  gap: 1rem;
}
header .letsconnect .connect-links a:first-child {
  font-weight: 300;
}
header .letsconnect .connect-links a {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-weight: 500;
  color: #191919;
  text-decoration: none;
}
header .letsconnect .connect-links a:hover {
  text-decoration: underline;
}
header .letsconnect h1 {
  font-family: "DM Sans", sans-serif;
  font-size: 56px;
  font-weight: bold;
  color: #191919;
}
@media (max-width: 400px) {
  header .letsconnect h1 {
    font-size: 30px;
  }
}

main .sponsors {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 4rem;
}
@media (max-width: 992px) {
  main .sponsors {
    display: none;
  }
}
main .features {
  border: 1px solid rgba(25, 25, 25, 0.2);
  display: flex;
  justify-content: space-between;
  width: 90%;
  padding: 4rem;
  margin-bottom: 6rem;
}
@media (max-width: 992px) {
  main .features {
    gap: 2rem;
    flex-direction: column;
  }
}
main .features .features-title {
  width: 38%;
}
main .features .features-title span {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-weight: bold;
  font-size: 18px;
}
main .features .features-title h2 {
  margin-top: 1rem;
  font-weight: bold;
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
}
@media (max-width: 992px) {
  main .features .features-title h2 {
    display: none;
  }
}
main .features .features-title .features-button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  gap: 5px;
  color: black;
  background-color: #F9D783;
  border-radius: 40px;
  height: 56px;
  width: 100%;
  margin-top: 2rem;
}
@media (max-width: 500px) {
  main .features .features-title .features-button {
    font-size: 12px;
  }
}
main .features .features-title .features-button:hover {
  transition-duration: 0.2;
  cursor: pointer;
  background-color: #191919;
  color: white;
}
main .features .features-descriptions {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem;
  width: 50%;
}
@media (max-width: 992px) {
  main .features .features-descriptions {
    width: 100%;
  }
}
main .features .features-descriptions div {
  display: grid;
  gap: 0.5rem;
}
main .features .features-descriptions div h3 {
  margin-top: 0.5rem;
  font-weight: bold;
  font-size: 22px;
}
main .about-company {
  display: flex;
  justify-content: space-around;
}
main .about-company .about-company-image {
  position: relative;
}
@media (max-width: 992px) {
  main .about-company .about-company-image {
    display: none;
  }
}
main .about-company .about-company-image .founder-quote {
  display: flex;
  justify-content: center;
  flex-direction: column;
  background-color: #BEEBFF;
  width: 358px;
  height: 170px;
  padding: 2rem;
  filter: drop-shadow(0px 18px 20px rgba(44, 44, 44, 0.15));
  z-index: 2;
  bottom: 50px;
  position: absolute;
  left: -50px;
}
main .about-company .about-company-image .founder-quote h3 {
  font-size: 16px;
  font-weight: bold;
  font-family: "DM Sans", sans-serif;
}
@media (max-width: 992px) {
  main .about-company .about-company-image .founder-quote {
    bottom: 200px;
    left: 0;
  }
}
main .about-company .about-company-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 40%;
}
@media (max-width: 992px) {
  main .about-company .about-company-text {
    width: 100%;
  }
}
main .about-company .about-company-text span {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
main .about-company .about-company-text h2 {
  font-size: 45px;
  font-family: "DM Sans", sans-serif;
  font-weight: bold;
}
main .about-company .about-company-text p {
  font-family: "Inter", sans-serif;
  color: RGBA(25, 25, 25, 0.7);
  line-height: 32px;
}
main .about-company .about-company-text div {
  margin-top: 3rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 992px) {
  main .about-company .about-company-text div {
    margin-top: 0rem;
  }
}
main .about-company .about-company-text div .about-learnmore-button {
  width: 180px;
  height: 56px;
  border-radius: 40px;
  background: #191919;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  gap: 5px;
}
main .about-company .about-company-text div .about-introvideo-button {
  height: 56px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: black;
  gap: 1rem;
}
main .about-company .about-company-text div .about-introvideo-button i {
  font-size: 48px;
}
main .our-services-container {
  margin-top: 6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F0EFE9;
  height: 870px;
}
main .our-services-container div {
  display: flex;
  flex-direction: column;
  /*









  dwiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuiuahp
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww
  dwwwwwwwwwwwwwwwwwwwwwwwwwwwwwww



  */
}
main .our-services-container div span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: #F94D1C;
}
main .our-services-container div h2 {
  font-size: 45px;
  width: 40%;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
}
@media (max-width: 1000px) {
  main .our-services-container div h2 {
    width: 100%;
  }
}
main .our-services-container div .service-options {
  display: flex;
  margin-top: 2rem;
  margin-bottom: 3rem;
  flex-direction: row;
  justify-content: space-between;
}
main .our-services-container div .service-options div {
  background-color: white;
  display: flex;
  align-items: start;
  justify-content: start;
  height: -moz-max-content;
  height: max-content;
  width: 20%;
}
@media (max-width: 1000px) {
  main .our-services-container div .service-options div h3 {
    font-size: 10px;
  }
}
@media (max-width: 1000px) and (max-width: 768px) {
  main .our-services-container div .service-options div p {
    display: none;
  }
}
main .our-services-container div .service-options div div {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 2rem;
  height: 100%;
  width: 100%;
  gap: 0.5rem;
}
main .our-services-container div .service-options div div::before {
  content: "";
  font-weight: 500;
  height: 1px;
  width: 2.5rem;
  background-color: #191919;
}
main .our-services-container div .service-options div div a {
  text-decoration: none;
  align-self: end;
}
main .our-services-container div .service-options div div a i {
  display: grid;
  place-items: center;
  width: 56px;
  height: 56px;
  background-color: #191919;
  border-radius: 50%;
  color: white;
}
@media (max-width: 768px) {
  main .our-services-container div .service-options div div a i {
    height: 28px;
    width: 28px;
  }
}
main .our-services-container div .service-options div .servicebox-1:hover, main .our-services-container div .service-options div .servicebox-2:hover, main .our-services-container div .service-options div .servicebox-3:hover, main .our-services-container div .service-options div .servicebox-4:hover {
  background-color: #F9D783;
}
main .our-services-container div .service-options div .servicebox-1:hover i, main .our-services-container div .service-options div .servicebox-2:hover i, main .our-services-container div .service-options div .servicebox-3:hover i, main .our-services-container div .service-options div .servicebox-4:hover i {
  background-color: white;
  color: black;
}
main .our-services-container div .service-options div .servicebox-1:hover i:hover, main .our-services-container div .service-options div .servicebox-2:hover i:hover, main .our-services-container div .service-options div .servicebox-3:hover i:hover, main .our-services-container div .service-options div .servicebox-4:hover i:hover {
  box-shadow: 0 0 10px 2px black;
}
main .our-services-container div .browse-services-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 7.25rem;
}
main .our-services-container div .browse-services-link a {
  border-radius: 40px;
  border: 1px solid #191919;
  padding: 1rem 2rem;
  text-decoration: none;
  color: black;
  display: flex;
  align-items: center;
  gap: 0.25rem;
}
main .our-services-container div .browse-services-link a:hover {
  background-color: #F9D783;
  color: white;
  transition-duration: 0.2s;
}
main .why-choose-us {
  margin-left: auto;
  display: flex;
  justify-content: end;
  align-items: center;
  height: 870px;
  width: 90%;
}
@media (max-width: 1100px) {
  main .why-choose-us {
    margin-right: auto;
  }
}
main .why-choose-us .why-choose-us-container {
  display: flex;
  height: 630px;
  width: 100%;
  align-items: center;
  justify-content: end;
  gap: 3rem;
}
@media (max-width: 1100px) {
  main .why-choose-us .why-choose-us-container {
    justify-content: start;
  }
}
main .why-choose-us .why-choose-us-container .why-choose-us-text {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 80%;
  width: 30%;
}
@media (max-width: 1100px) {
  main .why-choose-us .why-choose-us-container .why-choose-us-text {
    width: 60%;
  }
}
main .why-choose-us .why-choose-us-container .why-choose-us-text span {
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text h2 {
  color: black;
  font-family: "DM Sans", sans-serif;
  width: 62%;
  font-weight: bold;
}
@media (max-width: 1100px) {
  main .why-choose-us .why-choose-us-container .why-choose-us-text h2 {
    width: 100%;
  }
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container {
  display: flex;
  gap: 1rem;
  flex-direction: column;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .img-container {
  border-radius: 50%;
  border: 1px solid rgba(25, 25, 25, 0.1);
  padding: 2rem;
  height: 32px;
  width: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100%;
  gap: 10px;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .text-container h3 {
  margin: 0;
  font-size: 22px;
}
main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .text-container p {
  color: rgba(25, 25, 25, 0.7);
  margin: 0;
}
@media (max-width: 500px) {
  main .why-choose-us .why-choose-us-container .why-choose-us-text .why-choose-us-descriptions-container .why-choose-us-descriptions .text-container p {
    display: none;
  }
}
main .why-choose-us .why-choose-us-container .why-choose-us-img {
  height: 80%;
  width: 60%;
}
@media (max-width: 1100px) {
  main .why-choose-us .why-choose-us-container .why-choose-us-img {
    display: none;
  }
}
main .why-choose-us .why-choose-us-container .why-choose-us-img img {
  height: 100%;
  width: 100%;
}
main .global-projects .global-projects-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
main .global-projects .global-projects-container #project-text {
  font-family: "Inter", sans-serif;
  color: #f94d1c;
}
main .global-projects .global-projects-container h2 {
  font-family: "DM sans", sans-serif;
  font-weight: bold;
  font-size: 45px;
}
main .global-projects .global-projects-container .project-container {
  display: flex;
  padding: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}
@media (max-width: 800px) {
  main .global-projects .global-projects-container .project-container {
    width: 90%;
  }
}
main .global-projects .global-projects-container .project-container .project-boxes {
  display: flex;
  flex-direction: column;
  width: 40%;
  padding: 1rem;
}
@media (max-width: 768px) {
  main .global-projects .global-projects-container .project-container .project-boxes img {
    display: none;
  }
  main .global-projects .global-projects-container .project-container .project-boxes .project-boxes:hover {
    padding: 1rem;
  }
}
main .global-projects .global-projects-container .project-container .project-boxes:hover {
  padding: 0;
  cursor: pointer;
  transition-duration: 0.3s;
}
main .global-projects .global-projects-container .project-container .project-boxes span {
  margin-top: 1rem;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
}
main .global-projects .global-projects-container .project-container .project-boxes .project-readmore {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  align-self: end;
  text-decoration: none;
  color: black;
}
@media (max-width: 768px) {
  main .global-projects .global-projects-container .project-container .project-boxes .project-readmore {
    align-self: start;
  }
}
main .meet-the-crew {
  background-color: RGBA(240, 208, 130, 0.93);
  padding-bottom: 6rem;
}
main .meet-the-crew .meet-the-crew-container .section-header-crew {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .meet-the-crew .meet-the-crew-container .section-header-crew span {
  margin-top: 8rem;
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-weight: 500;
}
main .meet-the-crew .meet-the-crew-container .section-header-crew .flex-assist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main .meet-the-crew .meet-the-crew-container .section-header-crew .flex-assist h2 {
  color: #191919;
  font-family: "Dm Sans", sans-serif;
  font-weight: bold;
  font-size: 45px;
}
main .meet-the-crew .meet-the-crew-container .section-header-crew .flex-assist a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 221px;
  height: 56px;
  border: #191919 1px solid;
  border-radius: 40px;
  color: #191919;
  gap: 0.25rem;
}
main .meet-the-crew .meet-the-crew-container .section-header-crew .flex-assist a:hover {
  background-color: white;
  transition-duration: 0.2s;
}
@media (max-width: 500px) {
  main .meet-the-crew .meet-the-crew-container .section-header-crew .flex-assist a {
    font-size: 11px;
  }
}
main .meet-the-crew .meet-the-crew-container .the-crew {
  margin-top: 6rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 500px) {
  main .meet-the-crew .meet-the-crew-container .the-crew {
    flex-direction: column;
  }
}
main .meet-the-crew .meet-the-crew-container .the-crew .crew-members {
  display: flex;
  flex-direction: column;
}
main .meet-the-crew .meet-the-crew-container .the-crew .crew-members img {
  height: 100%;
  width: 100%;
}
main .meet-the-crew .meet-the-crew-container .the-crew .crew-members h3 {
  margin-top: 2rem;
  font-size: 22px;
  font-weight: bold;
  font-family: "DM sans", sans-serif;
}
main .meet-the-crew .meet-the-crew-container .the-crew .crew-members span {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgba(25, 25, 25, 0.7);
}
main .meet-the-crew .meet-the-crew-container .crew-page-select {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  width: 100%;
}
main .meet-the-crew .meet-the-crew-container .crew-page-select button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  outline: none;
  border: none;
  background-color: black;
  opacity: 0.2;
}
main .meet-the-crew .meet-the-crew-container .crew-page-select button:hover, main .meet-the-crew .meet-the-crew-container .crew-page-select button:focus {
  opacity: 1;
}
main .meet-the-crew .meet-the-crew-container .testimonial {
  margin-top: 5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 110%;
  background-color: white;
  padding: 7rem;
}
@media (max-width: 600px) {
  main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container {
    width: 100%;
  }
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #f94d1c;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container h2 {
  margin-top: 1rem;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container {
  margin-top: 6rem;
  display: flex;
  gap: 10rem;
}
@media (max-width: 991px) {
  main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container {
    gap: 4rem;
  }
}
@media (max-width: 767px) {
  main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container {
    flex-direction: column;
  }
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div .review-rating {
  display: flex;
  flex-direction: row;
  gap: 0.25rem;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div .review-rating i {
  color: #F94D1C;
  font-size: 15px;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div p {
  font-size: 18px;
  font-family: "Inter", sans-serif;
  font-weight: normal;
}
@media (max-width: 767px) {
  main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div p {
    display: none;
  }
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div .reviewer-information {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div .reviewer-information img {
  width: 70px;
  height: 70px;
  border-radius: 50%;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div .reviewer-information .flex-assist {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div .reviewer-information .flex-assist h3 {
  font-size: 22px;
  font-family: "DM sans", sans-serif;
  font-weight: bold;
  margin: 0;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .reviews-container div .reviewer-information .flex-assist span {
  margin-top: -15px;
  padding: 0;
  color: #F94D1C;
  font-family: "Inter", sans-serif;
  font-size: 13px;
  font-weight: 500;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .all-reviews {
  margin-top: 7rem;
  color: white;
  background-color: #191919;
  width: 181px;
  height: 56px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  gap: 0.5rem;
}
main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .all-reviews:hover, main .meet-the-crew .meet-the-crew-container .testimonial .testimonial-container .all-reviews:focus {
  background-color: white;
  color: black;
  border: solid 1px;
  transition-duration: 0.2s;
}
main .articleandnews .articleandnews-container {
  margin-top: 6rem;
  padding-bottom: 6rem;
}
main .articleandnews .articleandnews-container span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: 500;
  color: #f94d1c;
}
main .articleandnews .articleandnews-container .flex-assist {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
main .articleandnews .articleandnews-container .flex-assist h2 {
  width: 797px;
  height: 60px;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
main .articleandnews .articleandnews-container .flex-assist a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 221px;
  height: 56px;
  border: solid 1px black;
  border-radius: 40px;
  text-decoration: none;
  color: black;
  gap: 0.25rem;
}
main .articleandnews .articleandnews-container .flex-assist a:hover {
  background-color: black;
  color: white;
  transition-duration: 0.2s;
}
@media (max-width: 767px) {
  main .articleandnews .articleandnews-container .flex-assist a {
    font-size: 12px;
  }
}
@media (max-width: 500px) {
  main .articleandnews .articleandnews-container .flex-assist a {
    font-size: 9px;
  }
}
main .articleandnews .articleandnews-container .articles-container {
  margin-top: 2rem;
  display: flex;
  gap: 2rem;
}
@media (max-width: 767px) {
  main .articleandnews .articleandnews-container .articles-container {
    flex-direction: column;
  }
}
main .articleandnews .articleandnews-container .articles-container .article-box {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
main .articleandnews .articleandnews-container .articles-container .article-box:hover {
  cursor: pointer;
}
main .articleandnews .articleandnews-container .articles-container .article-box .article-images {
  position: relative;
}
main .articleandnews .articleandnews-container .articles-container .article-box .article-images img {
  width: 100%;
  height: 100%;
}
main .articleandnews .articleandnews-container .articles-container .article-box .article-images .article-date {
  position: absolute;
  width: 56px;
  height: 64px;
  background-color: #F9D783;
  top: 1rem;
  left: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
main .articleandnews .articleandnews-container .articles-container .article-box .article-images .article-date h3 {
  margin: 0;
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
}
main .articleandnews .articleandnews-container .articles-container .article-box span {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: #6a6c71;
}
main .articleandnews .articleandnews-container .articles-container .article-box h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 31px;
  font-weight: bold;
  color: #191919;
}
main .articleandnews .articleandnews-container .articles-container .article-box p {
  font-family: "Inter", sans-serif;
  font-size: 16px;
  color: rgba(25, 25, 25, 0.7);
}
main .articleandnews .articleandnews-container .article-pages {
  margin-top: 3rem;
  display: flex;
  justify-content: center;
  gap: 0.5rem;
}
main .articleandnews .articleandnews-container .article-pages button {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  border: none;
  outline: none;
  background-color: #191919;
  opacity: 0.2;
}
main .articleandnews .articleandnews-container .article-pages button:hover, main .articleandnews .articleandnews-container .article-pages button:focus {
  opacity: 1;
}
main .signup {
  width: 100%;
  height: 270px;
  background-color: #F0EFE9;
  position: relative;
}
main .signup .signup-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  gap: 1rem;
}
main .signup .signup-container h2 {
  margin-right: 6rem;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
@media (max-width: 1000px) {
  main .signup .signup-container h2 {
    font-size: 20px;
    margin-right: 3rem;
  }
}
@media (max-width: 500px) {
  main .signup .signup-container h2 {
    display: none;
  }
}
main .signup .signup-container input {
  width: 308px;
  height: 56px;
  border: none;
  outline: none;
  border-radius: 40px;
  text-indent: 2rem;
}
@media (max-width: 1000px) {
  main .signup .signup-container input {
    text-indent: 0;
  }
}
main .signup .signup-container a {
  width: 171px;
  height: 56px;
  border-radius: 40px;
  background-color: #F9D783;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
  text-decoration: none;
  color: black;
}
main .signup .signup-container a:hover {
  background-color: white;
  transition-duration: 0.2s;
}
@media (max-width: 1000px) {
  main .signup .signup-container a {
    font-size: 10px;
  }
}
main .signup .signup-container img {
  opacity: 0.4;
  position: absolute;
  right: 0;
  bottom: 4rem;
}
@media (max-width: 1350px) {
  main .signup .signup-container img {
    display: none;
  }
}
main .footer {
  height: -moz-max-content;
  height: max-content;
  padding-top: 6rem;
  padding-bottom: 1rem;
  width: 100%;
  background-color: #0E1021;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
main .footer .container {
  height: 100%;
}
main .footer .container .footer-container {
  display: flex;
  justify-content: center;
  gap: 6rem;
  align-items: center;
}
@media (max-width: 1400px) {
  main .footer .container .footer-container {
    gap: 2rem;
  }
}
@media (max-width: 1000px) {
  main .footer .container .footer-container {
    flex-direction: column;
    align-items: start;
  }
}
main .footer .container .footer-container .footer-links {
  display: flex;
  flex-direction: column;
  gap: 0rem;
  height: -moz-max-content;
  height: max-content;
}
main .footer .container .footer-container .footer-links h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #ffffff;
}
main .footer .container .footer-container .footer-links a {
  font-family: "Inter", sans-serif;
  font-weight: 500;
  color: rgb(255, 255, 255);
  opacity: 0.7;
  text-decoration: none;
}
main .footer .container .footer-container .footer-links a:hover {
  text-decoration: underline;
}
main .footer .container .footer-container .footer-links img {
  width: 10rem;
  height: 5rem;
}
main .footer .container .footer-container .footer-links p {
  width: 309px;
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
main .footer .copyright {
  padding-top: 1rem;
  border-top: solid 1px RGBA(255, 255, 255, 0.2);
  height: -moz-max-content;
  height: max-content;
}
main .footer .copyright .container {
  display: flex;
  align-items: start;
  justify-content: center;
}
@media (max-width: 500px) {
  main .footer .copyright .container {
    flex-direction: column;
  }
}
main .footer .copyright .container span {
  font-family: "Inter", sans-serif;
  color: rgba(255, 255, 255, 0.7);
}
main .footer .copyright .container .footer-socials i {
  color: white;
  font-size: 15px;
}
main .connect-information .connect-information-container {
  margin-top: 6rem;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 1200px) {
  main .connect-information .connect-information-container {
    flex-direction: column;
  }
}
main .connect-information .connect-information-container .connect-information-box {
  border: solid 1px rgba(25, 25, 25, 0.2);
  display: flex;
  gap: 1rem;
  padding: 3rem 4rem;
}
main .connect-information .connect-information-container .connect-information-box img {
  width: 60px;
  height: 60px;
}
main .connect-information .connect-information-container .connect-information-box div {
  display: flex;
  flex-direction: column;
}
main .connect-information .connect-information-container .connect-information-box div h3 {
  font-family: "DM Sans", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #191919;
}
main .connect-information .connect-information-container .connect-information-box div span {
  font-family: "Inter", sans-serif;
  font-size: 18px;
  font-weight: normal;
  color: rgb(25, 25, 25);
  opacity: 0.8;
}
main .leaveamessage {
  margin-top: 4rem;
  margin-bottom: 4rem;
}
main .leaveamessage .leaveamessage-container {
  padding: 4rem 0;
  background-color: #F0EFE9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
main .leaveamessage .leaveamessage-container h2 {
  display: flex;
  justify-content: center;
  width: 90%;
  font-family: "DM Sans", sans-serif;
  font-size: 45px;
  font-weight: bold;
}
@media (max-width: 500px) {
  main .leaveamessage .leaveamessage-container h2 {
    font-size: 20px;
  }
}
main .leaveamessage .leaveamessage-container input, main .leaveamessage .leaveamessage-container textarea {
  width: 90%;
  height: 56px;
  border-radius: 40px;
  background-color: #ffffff;
  border: none;
  text-indent: 2rem;
  word-wrap: break-word;
}
main .leaveamessage .leaveamessage-container button {
  background-color: #F9D783;
  border: none;
  outline: none;
  width: 90%;
  height: 56px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.25rem;
}
main .leaveamessage .leaveamessage-container button:hover {
  background-color: white;
  transition-duration: 0.2s;
  box-shadow: 0 0 5px 2px black;
}/*# sourceMappingURL=home.css.map */